body{
  background-color: #F6F6F6;
  font-family: Helvetica;
}

.screenSecond{
  overflow-x: hidden;
}

/* MENU */

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
  position: fixed;
  transform: translateX(15%);
}

.notactiveMenu{
  font-size: 1.3vw;
  background-color: #F6F6F6;
  color: #151515;
  border: 0.1vw solid #151515;
  display: flex;
  padding: 0.8vw 3vw;
  justify-content: center;
  align-items: center;
}

.activeMenu{
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 0.8vw 3vw;
  color: #151515;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='2%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* HOME SCREEN AND FORM */

.homeHeader{
  padding-top: 7vw;
  margin-bottom: 30vw;
}

.headerHomeOne, .headerHomeTwo, .headerHomeThree{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  font-weight: 300;
  font-family: Helvetica;
  background-color: #F6F6F6;
  color: #151515;
  font-style: light;
}

.headerHomeTwo{
  margin-right: 57vw;
}

.headerHomeOne{
  margin-left: 14vw;
}

.underheadHomeText{
  text-transform: uppercase;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55vw;
}

.placeVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: 300;
  font-family: Helvetica;
  color: #151515;
  font-style: light;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
  .form {
      background: white;
      padding: 2rem;
      width: 32vw;
      text-align: center;
      display: none;
      position: fixed;
      top: 22%;
      left: 32%;
      z-index: 1001;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  
  .contact{
    margin-right: 2vw;
  }

  .contact h1{
      font-size: 2rem;
      margin-bottom: 1.5rem;
  }
  
  .contact label{
      display: block;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      text-align: left;
  }
  
  .contact input[type="text"],
  .contact textarea{
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1.5rem;
      border: 0.05vw solid #ccc;
      border-radius: 0.4vw;
      font-size: 1rem;
  }
  
  .contact textarea {
      resize: none;
      height: 10vw;
  }
  
  .contact button[type="submit"]{
      background: #F6F6F6;
      border: 0.1px solid #151515;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .contact button[type="submit"]:hover{
      background: #F6F6F6;
  }

  .buttonContact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2vw;
    gap: 3vw;
    margin-bottom: 5vw;
    cursor: pointer;
  }

.cont{
  width: 15vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.1vw solid #151515;
  font-size: 2vw;
}

.left, .right, .leftDown, .rightDown, .degreeLabel {
  height: 0.2vw;
  width: 100%;
  background-color: #151515;
  position: fixed;
  top: 80%;
  margin-top: 25vw;
  animation: rotate 1s linear forwards;
  animation-timeline: scroll(block nearest);
}

.left {
  right: 50%;
  transform-origin: top right;
  transform: rotate(45deg);
  --i: 1;
}
.right {
  left: 50%;
  transform-origin: top left;
  transform: rotate(-45deg);
  --i: -1;
}

.leftDown {
  right: 50%;
  transform-origin: bottom right;
  transform: rotate(20deg);
  --i: -1;
}
.rightDown {
  left: 50%;
  transform-origin: bottom left;
  transform: rotate(-20deg);
  --i: 1;
}

.degreeLabel {
  width: 10vw;
  background-color: white;
  border: #151515 solid 0.1vw;
  padding: 2vw 1vw;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  animation: labelMove 5s linear forwards;
  animation-timeline: scroll(block nearest);
  font-size: 1vw;
}

@keyframes rotate {
  0% {
    top: 42%;
  }
  100% {
    rotate: calc(360deg * var(--i));
    top: -110%;
  }
}
@keyframes labelMove {
  0% {
    top: 40%;
  }
  100% {
    top: -110%;
  }
}

  .artworks{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5vw;
    gap: 2vw;
  }

  .firstArt, .secondArt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
  }

  .art1, .art2{
    width: 30vw;
  }

  #artText{
    width: 16vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.1vw solid #151515;
    font-size: 1vw;
    text-transform: uppercase;
  }

/* STORE SCREEN */

.highlight3D {
  width: 100%;
  position: relative;
  padding-top: 10vw;
  margin-bottom: 5vw;
}

.threedWindow {
  width: 80%;
  background-size: cover;
  height: 55vw;
  position: relative;
  margin-left: 10%;
  margin-bottom: 1vw;
}
.threedWindow:after {
  content: '';
  position: absolute;
  left: -3%;
  top: -4%;
  width: 103%;
  height: 104%;
  background-image: url('./images/leftNup.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0%;
}

#ten3 {
  display: inline-block;
  top: 0;
}

.threedWindow:before {
  content: '';
  position: absolute;

  right: -3%;
  bottom: -4%;
  width: 103%;
  height: 104%;
  background-image: url('./images/rightNDown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}

.rowTitles {
  display: flex;
  width: 100%;
  position: absolute;
  display: flex;
  font-size: 2vw;
  top: 50%;
  justify-content: space-between;
}

.tenLabel {
  margin: 1vw;
  padding: 0.5vw 2vw;
  font-size: 2vw;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='80%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
#ten1 {
  rotate: -90deg;
}
#ten2 {
  rotate: 90deg;
}
#ten3 {
  left: 30%;
  position: absolute;
}
#ten4 {
  bottom: -5%;
  right: 20%;
  display: inline-block;
  position: absolute;
}
.startView {
  font-size: 4vw;
  box-sizing: border-box;
  padding: 1vw;
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='40%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.motoClick {
  position: absolute;
  top: 10%;
  right: 10vw;
  font-size: 1vw;
}

.rowButtons {
  display: flex;
  gap: 1vw;
  margin-left: 10vw;
  margin-bottom: 5vw;
}

.firstFloor,
.Button {
  font-size: 2vw;
  padding: 0.5vw 1vw;
  border: 0.25vw solid black;
}

.firstText{
  font-size: 10vw;
  font-weight: 300;
}

.storeHeaderGif {
  background-image: url('./images/gifBack.gif');
  background-size: 100%;
}

.headerTwoStore {
  margin-bottom: 11vw;
}

.screenSecond{
  background-color: #F6F6F6;
  color:#151515;
}

.secondaryHeaderStore {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 8vw;
  font-weight: 300;
  font-family: Helvetica;
  background-color: #f6f6f6;
  color: #151515;
  font-style: light;
  margin-left: 20vw;
  margin-bottom: 20vw;
}

.headerOneStore, .headerTwoStore {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='25%2c 14' stroke-dashoffset='15' stroke-linecap='square'/%3e%3c/svg%3e");  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-weight: 300;
  font-family: Helvetica;
  background-color: #f6f6f6;
  color: #151515;
  font-style: light;
  padding: 0.2vw 1vw;
  margin-left: 20.83vw;
  margin-top: 8.85vw;
  position: relative;
}

.storeHeader {
  background-image: url("./images/gif.png");
  background-size: cover;
}

.headerTwoStore {
  margin-left: 2.14vw;
  margin-top: 0;
}

.twoHeader{
  padding-top: 5vw;
}

/* MAGAZINE SCREENS */

.magazineHeader{
  margin-bottom: 5vw;
  padding-top: 7vw;
}

.pages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: -0.01vw;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8{
  width: 40vw;
  height: 33vw;
  border: 0.1vw solid #151515;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.page{
    width: 40vw;
    height: 33vw;
    border: 0.1vw solid #151515;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: relative;
    cursor: pointer;
}

  .imagesPages{
  position: absolute;
  margin: 0 auto;
  top: -11%;
  width: 150%;
  height: 120%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 2;
  }
  .page.show img{
    opacity: 1;
  }

.headerOne{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 7vw;
  font-weight: 300;
  font-family: Helvetica;
}

.secondStrokeHead {
  margin-left: 7vw;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  flex-direction: row;
  gap: 7vw;
  margin-bottom: 2vw;
}

.headerTwo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-weight: 300;
  font-family: Helvetica;
  background-color: #FFFFFF;
  width: 40vw;
  color: #151515;
  font-style: light;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.underheadText {
  padding: 1vw;
  height: 7vw;
  background-image: url("./images/RectangleShop.svg");
  background-size: cover;
  box-sizing: border-box;
  background-position: 50%;
  margin-right: 5vw;
  text-transform: uppercase;
  font-size: 1vw;
}

.buyingMagazine{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 28vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.buyingBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
}

.buttonArrows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
}

#scBig{
  color: #FFFFFF;
  -webkit-text-stroke: 0.1vw #191919;
  font-size: 7vw;
}

#scMiddle{
  color: #FFFFFF;
  -webkit-text-stroke: 0.04vw #191919;
}

#buttonBuyMagazine{
  height: 2.5vw;
  width: 10vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  border: 0.1vw solid #151515;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

#textPaid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 300;
}

/* FOOTER */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

.footerBody{
  padding: 0.3vw;
  width: 90vw;
  height: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: #FFFFFF;
  color: #151515;
  font-style: light;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.bild{
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 300;
}

.author{
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12vw;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37vw;
}

#youtube{
  width: 4.5vw;
}

#vk, #telegram{
  width: 3.5vw;
}

/* MEETUPS SCREEN */

.firstMeet, .secondMeet, .thirdMeet{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
}

.fmText, .smText, .tmText{
  font-size: 1.2vw;
}

#hindImg1, #hindImg2, #hindImg3{
  opacity: 0;
}

.meetups{
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.headerTwoMeet{
  display: flex;
  justify-content: center;
  padding-right: 17vw;
  align-items: center;
  font-size: 7vw;
  font-weight: 300;
  font-family: Helvetica;
}

.headerOneMeet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 40vw;
  font-size: 7vw;
  font-weight: 300;
  font-family: Helvetica;
  background-color: #FFFFFF;
  width: 40vw;
  color: #151515;
  font-style: light;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.meetupHeader{
  padding-top: 7vw;
  padding-bottom: 10vw;
}

.buttonMoreDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7vw;
  margin-left: 19vw;
}

#buttonMore{
  height: 2.5vw;
  width: 10vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  border: 0.1vw solid #151515;
  text-transform: uppercase;
  font-weight: 400;
}

#text1Meet{
  font-size: 3vw;
}

#text2Meet{
  font-size: 2vw;
}


.adress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30vw;
  flex-direction: row;
  margin-bottom: 5vw;
}

.adressText {
  width: 32vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.7vw;
  text-align: center;
}

.storeHeaderGif{
  background-image: url('../images/gifBack.gif');
  background-size: 100%;
}

  .secondaryHeaderStore{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: 300;
    font-family: Helvetica;
    background-color: #f6f6f6;
    color: #151515;
    font-style: light;
    margin-top: 5vw;
    width: 34vw;
    height: 10vw;
    margin-left: 22vw;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .secondaryHeaderStoreFeel1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: 300;
    font-family: Helvetica;
    color: #151515;
    font-style: light;
    margin-top: 5vw;
    margin-right: 15vw;
  }

  .secondaryHeaderStoreFeel2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: 300;
    font-family: Helvetica;
    color: #151515;
    font-style: light;
    margin-left: 40vw;
    margin-bottom: 2vw;
  }


  .headerTwoStore{
    margin-left: 2.14vw;
    margin-top: 0;
  }
  
  .gifImg {
    max-width: 100%;
    height: 100%;
  }
  
  .panorama {
    position: relative;
    width: 71.88vw;
    height: 45.94vw;
    margin: 3.13vw auto 0;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .vibeContainer {
    width: 59.38vw;
    height: 33.02vw;
    padding: 1.77vw;
    border: 1.5px dashed #000;
    margin: 0 auto;
  }

  .vibe {
    width: 59.38vw;
    height: 33.02vw;
  }

  .textRight {
    margin-left: 60vw;
    margin-top: 2vw;
  }

  .merchFrame {
    display: flex;
    flex-direction: row;
    width: 55.16vw;
    height: 56.25vw;
    margin: 2.97vw auto 9.69vw auto;
  }

  .prices{
    display: flex;
    flex-direction: column;
    margin-left: 1.09vw;
  }
  .goods{
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-left: 2.92vw;
  }
  
  .good{
    width: 23.13vw;
    height: 15.78vw;
  }
  .price p,
  .good p,
  .prices a{
    color: #151515;
  
    font-family: Helvetica;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .price:nth-of-type(2){
    margin-top: 9.38vw;
  }
  .price:nth-of-type(3){
    margin-top: 11.09vw;
  }
  .price p:nth-of-type(2){
    margin-top: 1.35vw;
  }
  
  .buy{
    box-sizing: border-box;
    display: flex;
    width: 5.89vw;
    padding: 0.78vw 1.56vw;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #151515;
  
    margin-top: 0.42vw;
  }
  
  a:hover{
    background: #151515;
    color: #fff;
  }
  
  .arrowMerchLeft{
    height: 56.25vw;
    width: 0.52vw;
  }
  .arrowMerchLeft:nth-of-type(2){
    margin-left: 15vw;
  }
  
  .arrowFirst{
    width: 33.85vw;
    height: 0.52vw;
  }
  .arrowSecond{
    width: 0.52vw;
    height: 36.46vw;
  }
  
  .arrowThird{
    width: 35.73vw;
    height: 0.52vw;
  }
  .inner{
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .off{
    position: absolute;
    top: 15.52vw;
    width: 33.7vw;
    height: 4.9vw;
    z-index: 200;
  }
  .off p{
    color: #0f0f0f;
  
    font-family: Helvetica Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 97.274%; /* 62.255px */
    text-transform: uppercase;
  }
